.App {
  text-align: center;
}

.App-header {
  text-align: center;
  background-color: aquamarine;
  top: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.App-footer {
  text-align: center;
  background-color: aquamarine;
  bottom: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.component {
  text-align: center;
  margin-left: 15%;
  padding-block: 5%;
}

.navBar {
  height: 100%;
  width: 15%;
  position: fixed;
  background-color:lightblue;
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6%;
  z-index: 0;
}
